body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
}

.choices{
 margin-bottom: 30px;   
}

.choices button{
    font-size: 9rem;
    min-width: 160px;
    border: none;
    border-radius: 200px;
    padding: 20px;
    margin: 0 10px;
    background-color: hsl(180, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: hsl(180, 100%, 70%);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0; 
}

.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScoreDisplay{
    color:green;
}

.redText, #computerScoreDisplay{
    color: red;
}